@page
@model zad3.NET.Pages.razor_CRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzz[0].liczba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzz[0].wynik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzz[0].data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FizzBuzz) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.liczba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wynik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
